.Login {
    align-content: center;
    margin-top: 40px;
}
label {
    padding: 5px;
    margin: 10px;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    margin: 15px;
    padding: 5px;
}

